.wrapper {
    max-width: 1200px;
    margin: auto;
    align-self: center;
    display: grid;
    grid:
        'header header header header header header'
        'main main main main main right'
        'footer footer footer footer footer footer';
}

.wrapper-sub {
    max-width: 1200px;
    margin: auto;
    align-self: center;
    padding: 1em;
    display: grid;
    grid:
        'header'
        'main'
        'footer';
}

.header {
    grid-area: header;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
}

.content-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: right;
    padding: 2rem;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

i:hover{
    transform: scale(1.2);
    translate: all .3s;
}